{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert"><h3>Facturación</h3></div>


<div class="well">

  <div class="row">
  <div class="col-md-6">


  <div class="alert alert-danger" role="alert">Datos de Reservación</div>

      <div class="row">
        <div>
        <div class="col-xs-6">
                                <label for="cedula">N° Habitación:</label>
                                <div class="input-group">
                                    <input class="form-control" type="search" name="habitacion" id="txthabitacion" required autocomplete="off" placeholder="N° Habitación" onkeyup = "if(event.keyCode == 13) javascript:buscarHabitacion()"/ >
                                     <span class="input-group-btn"><button class="btn btn-info" type="button" value="Buscar" onclick="javascript:buscarHabitacion()"><i class="glyphicon glyphicon-search"></i></button></span>
                                                    </div>
                                                    <div id="mensaje1" class="errores"> Ingrese Habitación</div>
                            </div>
                            <div class="input-group">
                                <div class="row-fluid">
                                    <label for="direccion">Descripción:</label>
                                    <input type="text" class="form-control" name="descripcion" id="txtdescripcion" placeholder="Descipcion" readonly="readonly">
                                    
                                </div>
                            </div>

        </div>
        <div class="col-xs-6">
                                <label for="cedula">Cédula:</label>
                                <div class="input-group">
                                    <input class="form-control ty" type="search" name="cedula" id="txtcedula" required autocomplete="off" placeholder="Cedula" size="100" onkeyup = "if(event.keyCode == 13) javascript:buscarCliente()" / >
                                    <span class="input-group-btn"><button class="btn btn-info" type="button" value="Buscar" onclick="javascript:buscarCliente()" ><i class="glyphicon glyphicon-search"></i></button></span>
                                </div>
                                <div id="mensaje2" class="errores"> Ingrese Cédula</div>
                                 <div class="input-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre" id="txtnombre"   placeholder="Nombre" readonly="readonly">
                                </div>
                                 <div class="input-group">
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" name="apellido" id="txtapellido" placeholder="Apellido" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row-fluid">
                                 <div class="input-group">
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" class="form-control" name="direccion" id="txtdireccion" placeholder="Direccion" readonly="readonly">
                                    </div>
                                     <div class="input-group">
                                    <label for="ciudad">Ciudad:</label>
                                    <input type="text" class="form-control" name="ciudad" id="txtciudad" placeholder="Ciudad" readonly="readonly">
                                    </div>
                                     <div class="input-group">
                                    <label for="tlfono">Teléfono:</label>
                                    <input type="text" class="form-control" name="tlfono" id="txttelefono" placeholder="Telefono" readonly="readonly">
                                    </div>
                                </div>
                            </div>
      </div>
</div>
  <div class="col-md-6">
      <div class="alert alert-danger" role="alert">Datos de Factura</div>
       <div class="input-group">
        <div class="col-md-6">NUMERO FACTURA</div>
        <div class="col-md-6"><input type="text" id="txtnfactura" class="form-control" required value="{{ nFactura }}" readonly="readonly"></div>
     </div>

      <div class="input-group">
        <div class="col-md-6">FECHA</div>
        <div class="col-md-6"><input type="text" id="txtfecha"  class="form-control" readonly="readonly" ></div>
      </div>

  </div>
</div>
</div>

    <br/>
   <div class="table-responsive">
   <table id="tablafactura"  class="table table-hover">
   <thead>
    <tr>
      <td class="success">CODIGO</td>
        <td class="success">DESCRIPCION</td>
        <td class="success">CANTIDAD</td>
        <td class="success">PRECIO U</td>
        <td class="success">PRECIO T</td>
        <td class="success">ELIMINAR</td>
        
    </tr>
   </thead>
   <tbody >
   </tbody>
   </table>
  
   </div>
   <div class="row">
      <div class="col-md-6">
      
      </div>
      <div class="col-md-6">
      
            <div class="row">
             <div class="input-group">
        <div class="col-md-6">SUBTOTAL</div>
        <div class="col-md-6"><input type="text"  id="txtsubotal" value="0" class="form-control" placeholder="normal sized input group" readonly="readonly"></div>
        <div class="col-md-6">IVA</div>
        <div class="col-md-6"><input type="text"  id="txtiva" value="0" class="form-control" placeholder="normal sized input group"readonly="readonly"></div>
        <div class="col-md-6">TOTAL</div>
        <div class="col-md-6"><input type="text" id="txttotal" value="0" class="form-control" placeholder="normal sized input group" readonly="readonly"></div>
      </div>
      </div>

      </div>
    </div>
</div>
</div>


<div class="row">
        <div class="col-xs-5"></div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-danger" id="btnGuardar"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> GUARDAR</button>
          <i class="icon-save"></i></button></div>
        <div class="col-xs-5"></div>

    </div>

{% endblock content %}
{% block js %} 
<script >
     var f = new Date();
        document.getElementById('txtfecha').value=(f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate());
        var fecha = (f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate());
    var nombre = []
    var cedulass=[]


    var contador  = 0;
    {% for prod in listarproductos %}
      nombre[contador]="{{prod.nombre}}";
      console.log(nombre[contador]);
      contador=contador+1;
    {% endfor %}

        $('input.typeahead').typeahead({
                local: nombre
            });


    var cont  = 0;
      {% for cliente in listarclientes %}
      cedulass[cont]="{{cliente.cedula}}";
      console.log(cedulass[cont]);
      cont=cont+1;
      {% endfor %}
       $('input.ty').typeahead({
                      local: cedulass
        });
 
    function buscarCliente(){
      var cedulaBuscar=document.getElementById("txtcedula").value;
      {% for cliente in listarclientes %}

          if("{{ cliente.cedula }}"==cedulaBuscar){
          var nombre = "{{cliente.nombre}}"
          var apellido = "{{cliente.apellido}}"
          var direccion = "{{cliente.direccion}}"
          var telefono = "{{cliente.telefono}}"
          var ciudad = "{{cliente.ciudad}}"
          document.getElementById("txtnombre").value=nombre;
          document.getElementById("txtapellido").value=apellido;
          document.getElementById("txtdireccion").value=direccion;
          document.getElementById("txttelefono").value=telefono;
          document.getElementById("txtciudad").value=ciudad;
          CargarDatosTabla();
          ServicioID();
        }
      {% endfor %}
    }
    function buscarHabitacion(){
      var habitacionBuscar=document.getElementById("txthabitacion").value;
      {% for habitacion in listarHabitacion %}

          if("{{ habitacion.habitacion }}"==habitacionBuscar){
         
          var descripcion = "{{habitacion.tipo}}"
          
          document.getElementById("txtdescripcion").value=descripcion;
          
        }
      {% endfor %}
    }

    function addfilastabla(){

      var productobuscar = document.getElementById("txtbuscarproducto").value;
      console.log(productobuscar)
      var productoCant = document.getElementById("txtcantidad").value;

      document.getElementById("txtbuscarproducto").value="";
      document.getElementById("txtcantidad").value="";

      var tabla = document.getElementById('tablafactura');
      var lastRow= tabla.rows.length;
      var row = tabla.insertRow(lastRow);
      var lp= 0
      {% for producto in listarproductos  %}
            console.log('aki')
        if("{{producto.nombre}}"==productobuscar){
            var codigo = row.insertCell(0);
            console.log(codigo);
            var producto=row.insertCell(1);
            var cantidad =row.insertCell(2);
            var preciou=row.insertCell(3);
            var preciot=row.insertCell(4);
            var eliminar=row.insertCell(5);

            codigo.innerHTML="{{producto.id}}";
            producto.innerHTML="{{producto.nombre}}";
            cantidad.innerHTML =productoCant;
            preciou.innerHTML= "{{producto.costo}}";
            console.log({{producto.costo}});
            var pt =redondeo( redondeo(re("{{ producto.costo }}")) * parseInt(productoCant));
            console.log(pt)
            preciot.innerHTML=pt;

            sumartotales();

            eliminar.innerHTML="<button class='btn btn-danger' onclick='eliminarfilas(this)'><span class='glyphicon glyphicon-remove' aria-hidden='true'></button>";
            return false;
          }
         
       {% endfor %}
    }
    function obtenerCliente(){

      var cedulaBuscar=document.getElementById("txtcedula").value;
      
      {% for cliente in listarclientes %}

          if("{{ cliente.cedula }}"==cedulaBuscar){
            return("{{cliente}}")
        }
      {% endfor %}
     }

     function obtenerProducto(numero){
           {% for pro in listarproductos %}
                if("{{ pro }}"==numero){
                 return("{{pro}}")
                }
             
          {% endfor %}
        }
        function obtenerProductoid(numero){
           {% for pro in listarproductos %}
                if("{{ pro }}"==numero){
                 return("{{pro.id}}")
                }
             
          {% endfor %}
        }
        function obtenerProductoNombre(numero){
           {% for pro in listarproductos %}
                if("{{ pro }}"==numero){
                 return("{{pro.nombre}}")
                }
             
          {% endfor %}
        }
         function obtenerProductoCosto(numero){
           {% for pro in listarproductos %}
                if("{{ pro }}"==numero){
                 return("{{pro.costo}}")
                }
             
          {% endfor %}
        }
      function obtenerHabitacion(){
          var habitacionBuscar=document.getElementById("txthabitacion").value;
          {% for habitacion in listarHabitacion %}

              if("{{ habitacion.habitacion }}"==habitacionBuscar){
                return("{{habitacion}}")
              }
          {% endfor %}
      }
       function obtenerHabitacionId(){
          var habitacionBuscar=document.getElementById("txthabitacion").value;
          {% for habitacion in listarHabitacion %}

              if("{{ habitacion.habitacion }}"==habitacionBuscar){
                return("{{habitacion.id}}")
              }
          {% endfor %}
      }
       function obtenerHabitacionTipo(){
          var habitacionBuscar=document.getElementById("txthabitacion").value;
          {% for habitacion in listarHabitacion %}

              if("{{ habitacion.habitacion }}"==habitacionBuscar){
                return("{{habitacion.tipo}}")
              }
          {% endfor %}
      }
       function obtenerHabitacionCosto(){
          var habitacionBuscar=document.getElementById("txthabitacion").value;
          {% for habitacion in listarHabitacion %}

              if("{{ habitacion.habitacion }}"==habitacionBuscar){
                return("{{habitacion.precio}}")
              }
          {% endfor %}
      }

      function CargarDatosTabla(){
         $("#tablafactura").find("tr:gt(0)").remove();
          var tablaA = document.getElementById('tablafactura');
          {% for rese in listaReservacion %}
          if("{{rese.cliente}}"==obtenerCliente()){
            if("{{rese.habitacion}}"==obtenerHabitacion()){
               var filaAnterior= tablaA.rows.length;
                    var row = tablaA.insertRow(filaAnterior);
                    var codigo = row.insertCell(0);
                    console.log(codigo);

                    var producto=row.insertCell(1);
                    var cantidad =row.insertCell(2);
                    var preciou=row.insertCell(3);
                    var preciot=row.insertCell(4);
                    var eliminar=row.insertCell(5);

                    var habi=obtenerHabitacion();
                    codigo.innerHTML=obtenerHabitacionId();
                    producto.innerHTML=obtenerHabitacionTipo();
                    cantidad.innerHTML ="1";
                    preciou.innerHTML= redondeo(re("{{rese.precio}}"));
                    preciot.innerHTML= redondeo(re("{{rese.precio}}"));

                    sumartotales();
                    eliminar.innerHTML="<button class='btn btn-danger' onclick='eliminarfilas(this)'><span class='glyphicon glyphicon-remove' aria-hidden='true'></button>";
            }
          }
          {%endfor%}

           {% for serv in listaServicios %}
             
                  if("{{serv.cliente}}"==obtenerCliente()){
                    if("{{serv.habitacion}}"==obtenerHabitacion()){
                      if("{{serv.producto}}"==obtenerProducto("{{serv.producto}}")){
                    var filaAnterior= tablaA.rows.length;
                    var row = tablaA.insertRow(filaAnterior);
                    var codigo = row.insertCell(0);
                    console.log(codigo);
                    var producto=row.insertCell(1);
                    var cantidad =row.insertCell(2);
                    var preciou=row.insertCell(3);
                    var preciot=row.insertCell(4);
                    var eliminar=row.insertCell(5);
                    
                    codigo.innerHTML=obtenerProductoid("{{serv.producto}}");
                    producto.innerHTML=obtenerProductoNombre("{{serv.producto}}");
                    cantidad.innerHTML ="{{serv.cantidad}}";
                    preciou.innerHTML= obtenerProductoCosto("{{serv.producto}}");
                          
                    var pt =redondeo( redondeo(re(obtenerProductoCosto("{{serv.producto}}"))) * parseInt("{{serv.cantidad}}"));
                    console.log(pt)
                    preciot.innerHTML=pt;

                    sumartotales();
                    eliminar.innerHTML="<button class='btn btn-danger' onclick='eliminarfilas(this)'><span class='glyphicon glyphicon-remove' aria-hidden='true'></button>";
                   }  
                  }             
                }
            {% endfor %}

          }

          function ServicioID(nombre){
             {% for serv in listaServicios %}
                   if("{{serv.producto}}"==nombre){
                          alert("{{serv.id}}")
                        
                }
            {% endfor %}
          }


    function eliminarfilas(t){
      var td = t.parentNode;
      var tr = td.parentNode;
      var table = tr.parentNode;
      table.removeChild(tr)
      sumartotales()
    }

    function sumartotales(){

      var tabla = document.getElementById('tablafactura');
      var total=0;
      for(var i = 1;tabla.rows[i];i++){
        total+= Number(tabla.rows[i].cells[4].innerHTML);
      }
      console.log(total)
      llenarCamposTotales(total)

    }
    function re(texto){
      var cadena = texto;
      var aux='';
      for(i=0; i<cadena.length; i++) 
        if (cadena.charAt(i)==','){
           aux=aux+".";
        }else{
          aux=aux+cadena.charAt(i);
        }
        return aux;
    }
    function llenarCamposTotales(subtotal){

      document.getElementById("txtsubotal").value=redondeo(subtotal/1.12);
      sub = parseFloat(document.getElementById("txtsubotal").value);

      document.getElementById("txtiva").value=redondeo((subtotal/1.12)*0.12);
      iva = parseFloat(document.getElementById("txtiva").value)


      //document.getElementById("txtdescuento").value=redondeo(parseFloat(sub)*0.05);
      //descuento = parseFloat(document.getElementById("txtdescuento").value)

      total = document.getElementById("txttotal").value;
      document.getElementById("txttotal").value=redondeo(subtotal); 


    }



    function redondeo(numero){

      var flotante = parseFloat(numero);
      var resultado = Math.round(flotante*100)/100;
      return +(Math.round(flotante + "e+2")  + "e-2");
     

    }
  
$("#btnGuardar").click(
  function(){
    var tabla = document.getElementById('tablafactura');
      if(($("#txthabitacion").val() == "")){
          $("#mensaje1").fadeIn("slow");
          $("#mensaje2").fadeIn("slow");
              return false;
      }else{
        if (tabla.rows.length ==2){
          $.get('/factura/guardarFact/',{

              cedula:document.getElementById("txtcedula").value,
              nFactura:document.getElementById("txtnfactura").value,
              i:i,
              subtotal:document.getElementById("txtsubotal").value,
              iva:document.getElementById("txtiva").value,
              total:document.getElementById("txttotal").value,
              fecha:fecha,
              Numerohabitacion:document.getElementById("txthabitacion").value,
              
              });
          alert("Datos Guardados Correctamente... ")

          setTimeout("location.href='/factura/listar'",100);
          
        }else{

          for (var i = 2; tabla.rows[i];i++){
            $.get('/factura/guardar/',{

              codigo:document.getElementById("tablafactura").rows[i].cells[0].innerHTML,
              cantidad:document.getElementById("tablafactura").rows[i].cells[2].innerHTML,
              precio:document.getElementById("tablafactura").rows[i].cells[3].innerHTML,
              cedula:document.getElementById("txtcedula").value,
              nFactura:document.getElementById("txtnfactura").value,
              i:i,
              subtotal:document.getElementById("txtsubotal").value,
              iva:document.getElementById("txtiva").value,
              total:document.getElementById("txttotal").value,
              fecha:fecha,
              Numerohabitacion:document.getElementById("txthabitacion").value,
              servicioID:document.getElementById("tablafactura").rows[i].cells[1].innerHTML,
              });
                  
          }

          alert("Datos Guardados Correctamente... ")

          setTimeout("location.href='/factura/listar'",100);
        }
        
      }
    }
  
  )

  </script>



  
{% endblock js %}

