<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />      
<link href="{{STATIC_URL}}css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plantilla de FACTURA</title>
</head>
<body onload="window.print();">

<div class="container">
<div class="col-xs-4">

<img src="{{STATIC_URL}}images/logofac.png" alt="">
</div>
<div class="row">
<div class="col-xs-3 text-center">
<small><h1> <strong> FACTURA</strong></h1></small>

</div>
 </div>


<div class="row">
<div class="col-xs-6">
<div class="panel panel-danger">
<div class="panel-heading">
Datos de Cliente
</div>
<div class="panel-body">
	{% for reser in listarReservacion %}
		{% for cli in listarClientes %}
			{% if listarFacturas.reservacion == reser %}
				{% if reser.cliente == cli %}
					<strong>Nombre:</strong> {{cli}}<br>
					<strong>Teléfono:</strong> {{cli.telefono}}<br>
					<strong>Dirección: </strong>{{cli.direccion}}<br>
					<strong>Email: </strong>{{cli.email}}<br>
					<strong>Ciudad: </strong>{{cli.ciudad}}
				{% endif%}
			{% endif%}
		{% endfor %}
	{% endfor %}
</div>
</div>
</div>
<div class="col-xs-6 col-xs-offset-0 text-right">
<div class="panel panel-danger">
<div class="panel-heading">
Datos de Factura 
</div>
<div class="panel-body">
    <strong> <h2>N:     00-{{nFactura}}</h2></strong><br>
   
   <strong> Fecha: {{listarFacturas.fecha}}</strong>
    	

</div>
</div>
</div>
</div>

<table class="table table-bordered">
<thead>
<tr>
<th>
<h4><strong>Código</strong></h4>
</th>
<th>
<h4><strong>Descripción</strong></h4>
</th>
<th>
<h4><strong>Cantidad</strong></h4>
</th>
<th>
<h4><strong>Precio U.</strong></h4>
</th>
<th>
<h4><strong>Precio T.</strong></h4>
</th>
</tr>
</thead>
<tbody>

	{% for reser in listarReservacion %}
		{% for haitacion in listarHabitacion %}
			{% if listarFacturas.reservacion == reser %}
				{% if reser.habitacion == haitacion %}
					<tr>
						<td>{{haitacion.id}}</td>
						<td>{{haitacion}} </td>
						<td>1</td>
						<td>{{reser.precio}}</td>
						<td class=" text-right">{{reser.precio}}</td>
					</tr>
				{% endif%}
			{% endif%}
		{% endfor %}
	{% endfor %}


{% for facturas in listarserviciosFac %}

	{% for servicio in listarservicios %}
		{% for producto in listarProductos %}

			{% if facturas.servico == servicio %}
				{% if servicio.producto == producto %}
					<tr>
						<td>{{producto.id}}</td>
						<td>{{producto.nombre}}</td>
						<td>{{servicio.cantidad}}</td>
						<td>{{producto.costo}}</td>
						<td class=" text-right">
							<script type="text/javascript">
							 function re(texto){
						      var cadena = texto;
						      var aux='';
						      for(i=0; i<cadena.length; i++) 
						        if (cadena.charAt(i)==','){
						           aux=aux+".";
						        }else{
						          aux=aux+cadena.charAt(i);
						        }
						        return aux;
						    }
							function redondeo(numero){

						      var flotante = parseFloat(numero);
						      var resultado = Math.round(flotante*100)/100;
						      return +(Math.round(flotante + "e+2")  + "e-2");
						    }
						    var pt =redondeo( redondeo(re('{{producto.costo}}')) * parseInt('{{servicio.cantidad}}'));
						    console.log(pt)
							document.write(pt)
							</script>
						</td>
					</tr>
				{% endif%}
			{% endif%}
		{% endfor %}
	{% endfor %}
{% endfor %}




</tbody>
</table>

<div class="row text-right">
<div class="col-xs-3 col-xs-offset-7"><strong>
Sub Total:<br>
IVA 12%:<br>
Total:
</strong></div>
<div class="col-xs-2 text-right"><strong>
$ {{listarFacturas.subtotal}}<br>
$  {{listarFacturas.iva}}<br>
$ {{listarFacturas.total}}
</strong></div>
</div>
</div>

</body>
</html>


