
{% extends "base.html" %}
{% block content %}
<h3>Todos los Egresos</h3>
<span class="label label-default">Lista de productos</span>
	 
<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearEgreso'  %}">
					<button type="button" class="btn btn-danger" name='btnAgregar'onclick=""><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                </a>
		
                 
                <a href="{% url 'pdf_Egresos'  %}">
              	  <button name="btnReporte" type="button" class="btn btn-danger"><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reporte</button>  
              	</a>
             </div>   
            <div class="col-lg-6" > 
     	 		 <form method="POST" action="">{% csrf_token %}
				
		    		  <div class="input-group">
		     			 <input type="text" class="form-control " placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search" aria-hidden="true"></button>
				      </span>
									      
					    
		       						
		       			</div>
		    
		   		 </form>
		    </div>
     	  
        </div> 
        <br></br>
</div> 
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">Usuario</td>
	            <td class="success">Fecha</td>
	            <td class="success">Articulo</td>
	            <td class="success">Tipo</td>
	            <td class="success">Detalle</td>
	            <td class="success">Cantidad</td>
	            <td class="success">Precio Unitatio</td>
	            <td class="success">Precio Total</td>
	            <td class="success">Estado</td>
	          </tr>
	        </thead>
	        <tbody >
	
	         
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for egreso in egresos %}
			          <tr id="row{{egreso.id}}" class="active">
			          	<td >{{egreso.id}}</td>
		          		<td >{{egreso.usuario}}</td>
			            <td >{{egreso.fecha}}</td>
			            <td >{{egreso.articulo}}</td>
			            <td >{{egreso.tipo}}</td>
			            <td >{{egreso.detalle}}</td>
			            <td >{{egreso.cantidad}}</td>
			            <td >{{egreso.precio_unitario}}</td>
			            <td >{{egreso.precio_total}}</td>
			            <td >{{egreso.estado}}</td>
		           		<td ><button class='btn btn-danger' id="btnupdate{{egreso.id}}" value="{{egreso.id}}" onclick='actualizarDatos({{egreso.id}})'>
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			            </button> </td>
			            <td ><button class='btn btn-danger btn' id="btndelete{{egreso.id}}" value="{{egreso.id}}" onclick='eliminarDatos({{egreso.id}})'>
			            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			            </button></td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		
	</div>
  
</div>
</div>
</div> 
{% endblock content %}
{%block js%}
  

<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/egreso/modificar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/egreso/eliminar/"+r+"'"+"",10);

	}
	</script>

	<script type="text/javascript">
		 var nombre = []
		    

		    var contador  = 0;
		    {% for prod in productos %}
		      nombre[contador]="{{prod.nombre}}";
		      console.log(nombre[contador]);
		      contador=contador+1;
		    {% endfor %}

		        $('input.typeahead').typeahead({
		                local: nombre
		            });
</script>
{%endblock js%}