{% extends "base.html" %}
{% block content %}

    <form method="post">
    {% load bootstrap3 %}
    <div id="form">
        {% csrf_token %}
	    {% bootstrap_form form %}
	    <!--<ul   > 
	        <li  Identificación = "sujeto"  clase = "contacto" > {{form.cli_cedula}} </li> 
	        
    	</ul> 
	    -->
	    <input class="btn btn-danger" type="submit" value="Agregar">
	    
			

				<a href="{% url 'crearCiudad'  %}">
				<button type="button" class="btn btn-danger" name='btnAgregar'onclick="">Agregar Ciudad</button>
                </a>
                
	<form>
	

{% endblock content %}
