
{% extends "base.html" %}
{% block content %}
<h1>Todos los Clientes</h1>
<span class="label label-default">Lista de Clientes</span>

<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearCliente'  %}">
					<button type="button" class="btn btn-danger" name='btnAgregar'onclick=""><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                </a>
		
                 
                <a href="{% url 'pdf_Clientes'  %}">
              	  <button name="btnReporte" type="button" class="btn btn-danger"><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reporte</button>  
              	</a>
             </div>   
            <div class="col-lg-6" > 
     	 		 <form method="POST" action="">{% csrf_token %}
				
		    		  <div class="input-group">
		     			 <input type="text" class="form-control " placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search" aria-hidden="true"></button>
				      </span>
									      
					    
		       						
		       			</div>
		    
		   		 </form>
		    </div>
     	  
        </div> 
        <br></br>  	
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">CEDULA</td>
	            <td class="success">NOMBRE</td>
	            <td class="success">APELLIDO</td>
	            <td class="success">TELEFONO</td>
	            <td class="success">DIRECCION</td>
	            <td class="success">EMAIL</td>
	            <td class="success">Ocupacion</td>
	            <td class="success">ESTADO</td>
	            <td class="success">CIUDAD</td>
	          </tr>
	        </thead>
	        <tbody >
	   
	         
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for cliente in  listarCliente %}
			          <tr id="row{{cliente.id}}" class="active">
			          	<td >{{cliente.id}}</td>
		          		<td >{{cliente.cedula}}</td>
			            <td >{{cliente.nombre}}</td>
			            <td >{{cliente.apellido}}</td>
			            <td >{{cliente.telefono}}</td>
			            <td >{{cliente.direccion}}</d>
			            <td >{{cliente.email}}</td>
			            <td >{{cliente.ocupacion}}</td>
			            <td >{{cliente.estado}}</td>
			            <td >{{cliente.ciudad}}</td>
			            <td ><button class='btn btn-danger' id="btnupdate{{cliente.id}}" value="{{cliente.id}}" onclick='actualizarDatos({{cliente.id}})'>
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			            </button> </td>
			            <td ><button class='btn btn-danger btn' id="btndelete" value="{{cliente.id}}" onclick='eliminarDatos({{cliente.id}})'>
			            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			            </button></td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		
	</div>
  
</div>
</div>
</div> 
{% endblock content %}
{%block js%}
  

<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/cliente/modificar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/cliente/eliminar/"+r+"'"+"",10);

	}
	</script>

	<script type="text/javascript">
		 var nombre = []
		    

		    var contador  = 0;
		    {% for prod in productos %}
		      nombre[contador]="{{prod.nombre}}";
		      console.log(nombre[contador]);
		      contador=contador+1;
		    {% endfor %}

		        $('input.typeahead').typeahead({
		                local: nombre
		            });
</script>
{%endblock js%}