
{% extends "baserca.html" %}
{% block content %}
<div class="well">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <div class="alert alert-danger" role="alert">
      <div class="text-center">
        <H3><strong>Modificar de Producto</strong> </H3>   </div>
        </div>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    
  </div>
  <form method="post">
    {% load bootstrap3 %}
    <div id="form">
        {% csrf_token %}
  <div class="row"> </div>
  <div class="row">
	<div class="col-sm-4 text-center col-lg-12">
	  	<div class="row">
	    	<div class="col-lg-5 col-lg-offset-1">
	    		<div class="col-lg-4 col-lg-offset-1">
		         {% bootstrap_field form.nombre %}
		         {% bootstrap_field form.descripcion %}
				</div>
	            <div class="col-lg-4">
			        {% bootstrap_field form.costo %}
	            	{% bootstrap_field form.estado %}
			    </div>
	   		 </div>
	    </div>
     <hr>
     <div class="col-sm-4 text-center col-lg-6">
                <input class="btn btn-danger" type="submit" value="Modificar">
                </div>
  </div>
</div>
<form>
  <div class="row">
    <div class="col-lg-4"></div>
</div>
    <div class="col-lg-"></div>
  </div>
  </div>

</div>


  

{% endblock content %}