
{% extends "base.html" %}
{% block content %}
<h1>Todos los Productos</h1>
<span class="label label-default">Lista de productos</span>
<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearProducto'  %}">
				<button type="button" class="btn btn-danger" name='btnAgregar'onclick="">Agregar</button>
                </a>
				<button type="button" class="btn btn-danger" name='btnActualizar' onclick="obtener('editar')">Actualizar</button>
              	<button type="button" class="btn btn-danger" name='btnEliminar' onclick="obtener('eliminar')">Eliminar</button>
 
                <a href="{% url 'pdf_Productos'  %}">
                <button name="btnReporte" type="button" class="btn btn-danger">Reporte</button>   </a>
             </div>   
            <div class="col-lg-6" > 
     	 		 <form method="POST" action="/cliente/buscar/">{% csrf_token %}
				
		    		  <div class="input-group">
		     			   <input type="text" class="form-control" placeholder="Ingrese el producto a buscar" name="buscalo">
		       				 <span class="input-group-btn">
		        				  <button class="btn btn-default" type="submit" >Buscar</button>
		       						 </span>
		       			</div>
		    
		   		 </form>
		    </div>
     	  
     	  	
        </div>    	 

</div> 
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">NOMBRE</td>
	            <td class="success">DESCRIPCION</td>
	            <td class="success">COSTO</td>
	            <td class="success">ESTADO</td>
	          </tr>
	        </thead>
	        <tbody >
	   
	         
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for producto in productos %}
			          <tr id="row{{producto.id}}" class="active">
			          	<td >{{producto.id}}</td>
		          		<td ><a href="javascript:cargarDatos({{producto.id}})">{{producto.nombre}}</a></td>
			            <td >{{producto.descripcion}}</td>
			            <td >$ {{producto.costo}}</td>
			            <td >{{producto.estado}}</td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		<input type="hidden" type="text" name="obtener_id" id="obtener_id" value=""/>
	</div>
   <!--  <ul>
		{% for cliente in  clientes %}
  			<li><b>Cedula</b>{{cliente.cli_cedula}}</li>
			<li><b>Nombre</b>{{cliente.cli_nombre}}</li>
			<li><b>Apellido</b>{{cliente.cli_apellido}}</li>
			<li><b>Direccion</b>{{cliente.cli_direccion}}</li>

		{% endfor %}
	</ul>-->
</div>
</div>

{% endblock content %}
{%block js%}
  
	<script type="text/javascript">
		function cargarDatos(id) {
			document.getElementById('obtener_id').value = document.getElementById('row'+id).cells[0].innerHTML;
		}
	</script>

	<script type="text/javascript">
		function obtener(tipo) {
			if(tipo=='editar'){
				if(document.getElementById("obtener_id").value==''){
					
				}
				else{
					window.open("/producto/modificar/"+document.getElementById("obtener_id").value,"_self");
				}
				
			}
			if(tipo=='eliminar'){
				if(document.getElementById("obtener_id").value==''){
					
				}else{
					window.open("/producto/eliminar/"+document.getElementById("obtener_id").value,"_self");
				}
			}
		}
</script>
{%endblock js%}