
{% extends "baserca.html" %}
{% block content %}
<div class="alert alert-danger" role="alert"><h3>Todos los Productos</h3></div>
<span class="label label-default">Lista de productos</span>
<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearProducto'  %}">
				<button type="button" class="btn btn-danger" name='btnAgregar'onclick=""><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                </a>
		
                 
                <a href="{% url 'pdf_Productos'  %}">
                <button name="btnReporte" type="button" class="btn btn-danger"><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reporte</button>   </a>
             </div>   
            <div class="col-lg-6" > 
     	 		 <form method="POST" action="">{% csrf_token %}
				
		    		  <div class="input-group">
		     			 <input type="text" class="form-control " placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search" aria-hidden="true"></button>
      </span>
					      
					    
		       						
		       			</div>
		    
		   		 </form>
		    </div>
     	  
     	  	
        </div>    	 

<br> </br>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">NOMBRE</td>
	            <td class="success">DESCRIPCION</td>
	            <td class="success">COSTO</td>
	            <td class="success">ESTADO</td>
	          </tr>
	        </thead>
	        <tbody >
	   
	         
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for producto in productos %}
			          <tr id="row{{producto.id}}" class="active">
			          	<td >{{producto.id}}</td>
		          		<td >{{producto.nombre}}</td>
			            <td >{{producto.descripcion}}</td>
			            <td >$ {{producto.costo}}</td>
			            <td >{{producto.estado}}</td>
			            <td ><button class='btn btn-danger' id="btnupdate{{producto.id}}" value="{{producto.id}}" onclick='actualizarDatos({{producto.id}})'>
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			            </button> </td>
			            <td ><button class='btn btn-danger btn' id="btndelete" value="{{producto.id}}" onclick='eliminarDatos({{producto.id}})'>
			            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			            </button></td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		
	</div>
  
</div>
</div>
</div> 
{% endblock content %}
{%block js%}
  

<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/producto/modificar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/producto/eliminar/"+r+"'"+"",10);

	}
	</script>

	<script type="text/javascript">
		 var nombre = []
		    

		    var contador  = 0;
		    {% for prod in productos %}
		      nombre[contador]="{{prod.nombre}}";
		      console.log(nombre[contador]);
		      contador=contador+1;
		    {% endfor %}

		        $('input.typeahead').typeahead({
		                local: nombre
		            });
</script>
{%endblock js%}