
{% extends "base.html" %}
{% block content %}
<h1>Todos las Habitaciones</h1>
<span class="label label-default">Lista de Habitaciones</span>

<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearHabitacion'  %}">
					<button type="button" class="btn btn-danger" name='btnAgregar'onclick=""><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                </a>
		
                 
                <a href="{% url 'pdf_Habitaciones'  %}">
              	  <button name="btnReporte" type="button" class="btn btn-danger"><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reporte</button>  
              	</a>
             </div>   
            <div class="col-lg-6" > 
     	 		 <form method="POST" action="">{% csrf_token %}
				
		    		  <div class="input-group">
		     			 <input type="text" class="form-control " placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search" aria-hidden="true"></button>
				      </span>
									      
					    
		       						
		       			</div>
		    
		   		 </form>
		    </div>
     	  
        </div> 
        <br></br>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">ID</td>
	            <td class="success">NUMERO</td>
	            <td class="success">TIPO</td>
	            <td class="success">CATEGORIA</td>
	            <td class="success">PRECIO</td>
	            <td class="success">ESTADO</td>

	            
	          </tr>
	        </thead>
	        <tbody >
	   
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for hab in habitacion %}
			          <tr id="row{{hab.id}}" class="active">
			          	<td >{{hab.id}}</td>
		          		<td >{{hab.habitacion}}</td>
			            <td >{{hab.tipo}}</td>
			            <td >{{hab.categoria}}</td>
			            <td >{{hab.precio}}</td>
			            <td >{{hab.estado}}</td>
		           		<td ><button class='btn btn-danger' id="btnupdate{{hab.id}}" value="{{hab.id}}" onclick='actualizarDatos({{hab.id}})'>
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			            </button> </td>
			            <td ><button class='btn btn-danger btn' id="btndelete{{hab.id}}" value="{{hab.id}}" onclick='eliminarDatos({{hab.id}})'>
			            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			            </button></td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		
	</div>
  
</div>
</div>
</div> 
{% endblock content %}
{%block js%}
  

<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/habitacion/modificar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/habitacion/eliminar/"+r+"'"+"",10);

	}
	</script>

	<script type="text/javascript">
		 var nombre = []
		    

		    var contador  = 0;
		    {% for prod in productos %}
		      nombre[contador]="{{prod.nombre}}";
		      console.log(nombre[contador]);
		      contador=contador+1;
		    {% endfor %}

		        $('input.typeahead').typeahead({
		                local: nombre
		            });
</script>
{%endblock js%}