
{% extends "base.html" %}
{% block content %}
<h3> Tipos de Habitaciones</h3>
<span class="label label-default">Tipos de Habitaciones</span>
<div class="well">
 		<div class="btn-toolbar" role="toolbar">   
 		 	<div class="col-lg-6" >
               	<a href="{% url 'crearTipoHabitacion'  %}">
				<button type="button" class="btn btn-danger" name='btnAgregar'onclick=""><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
                </a>
		
                 
                <a href="{% url 'pdf_tipoHabitacion'  %}">
                <button name="btnReporte" type="button" class="btn btn-danger"><span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reporte</button>   </a>
             </div>   
         
     	  	
        </div>    	 

<br> </br>
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">NOMBRE</td>
	            <td class="success">DESCRIPCION</td>
	            
	          </tr>
	        </thead>
	        <tbody >
	            
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for tipo in tipoHabitacion %}
			          <tr id="row{{tipo.id}}"class="active">
			          	<td >{{tipo.id}}</td>
		          		<td >{{tipo.nombre}}</td>
			            <td >{{tipo.descripcion}}</td>
			            <td ><button class='btn btn-danger' id="btnupdate{{tipo.id}}" value="{{tipo.id}}" onclick='actualizarDatos({{tipo.id}})'>
			            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			            </button> </td>
			            <td ><button class='btn btn-danger btn' id="btndelete{{tipo.id}}" value="{{tipo.id}}" onclick='eliminarDatos({{tipo.id}})'>
			            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			            </button></td>
			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
		
	</div>
  
</div>
</div>
</div> 
{% endblock content %}
{%block js%}
  

<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/tipoHabitacion/modificar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/tipoHabitacion/eliminar/"+r+"'"+"",10);

	}
	</script>

	<script type="text/javascript">
		 var nombre = []
		    

		    var contador  = 0;
		    {% for prod in productos %}
		      nombre[contador]="{{prod.nombre}}";
		      console.log(nombre[contador]);
		      contador=contador+1;
		    {% endfor %}

		        $('input.typeahead').typeahead({
		                local: nombre
		            });
</script>
{%endblock js%}