{% extends "base.html" %}
{% block content %}
	<h3>Modificar Factura</h3>
    <form method="post">
    {% load bootstrap3 %}
    <div id="form">
        {% csrf_token %}
       <div class="row"> </div>
  <div class="row">
          <div class="col-sm-4 text-center col-lg-12">
              <div class="row">
              <div class="col-lg-offset-2 text-center col-lg-10">
                  <div class="col-lg-offset-1 text-center col-lg-9">  
                      <div class="row">      
                        <div class="col-lg-2">
                          
                        </div>
                        <div class="col-lg-offset-1 text-center col-lg-8 ">
                        <div class="input-group">
                          {% bootstrap_field form.fecha %}
                          </div>
                        </div>
                             
                      </div>

                      <div class="row">
                          <div class="col-lg-6">
                          <div class="input-group">
                          {% bootstrap_field form.estado %}
                          </div>
                          </div>
                          <div class="col-lg-6">
                          <div class="input-group">
                            {% bootstrap_field form.reservacion %}
                         </div>
                          </div>
                        </div>
                                     

                      <div class=" col-lg-offset-3 col-lg-6">
                      <div class="input-group ">
                      {% bootstrap_field form.subtotal %}
                      {% bootstrap_field form.iva %}
                      {% bootstrap_field form.total %}
                      </div>
                         
                     
                     
                  </div>
              
              
              
              </div>
              </div>
               </div>
               <hr>
                <input class="btn btn-danger" type="submit" value="Modificar">
                <br><br>
                

            </div>
          </div>
	<form>
	

{% endblock content %}