<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RCA HOTEL | Nosotros</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href="{{STATIC_URL}}css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
</head>
<body>
<!--header starts-->
<div class="header">
	 <div class="top-header">
		 <div class="container">
			 <div class="logo">
				 <a href="/"><img src="{{STATIC_URL}}images/logo.png"/></a>
			 <div class="clearfix"></div>
			 </div>
			 <span class="menu"> </span>
			 <div class="m-clear"></div>
			 <div class="top-menu">
				<ul>
					 <li><a class="scroll" href="/">INICIO</a></li>
					 <li class="active"><a href="/nosotros">NOSOTROS</a></li>
					 <li><a class="scroll" href="/galeria">GALERIA</a></li>
					 <li><a class="scroll" href="/servicios">SERVICIOS</a></li>
					 <li><a class="scroll" href="/contactenos">CONTACTENOS</a></li>
					<!--<li><a class="scroll" href="/sistema">SISTEMA</a></li> -->
                     <div class="clearfix"></div>
                 </ul>
				 <script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle(200);
					});
				</script>
			 </div>
		  </div>
	  </div>
</div>
<!---->
 <div class="confer">
	<script src="{{STATIC_URL}}js/responsiveslides.min.js"></script>
	 <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#conference-slider").responsiveSlides({
      	auto: true,
        manualControls: '#slider3-pager',
      });
    });
  </script>
  <div class="container">
    <h2>RCA<span> HOTEL</span></h2>
    <div class="conference-slider">
	    <!-- Slideshow 3 -->
	    <ul class="conference-rslide" id="conference-slider">
	      <li><img src="{{STATIC_URL}}images/N1.jpg" alt=""></li>
	      <li><img src="{{STATIC_URL}}images/N2.jpg" alt=""></li>
	      <li><img src="{{STATIC_URL}}images/N3.jpg" alt=""></li>
		  <li><img src="{{STATIC_URL}}images/N4.jpg" alt=""></li>
		  <li><img src="{{STATIC_URL}}images/N5.jpg" alt=""></li>
          <li><img src="{{STATIC_URL}}images/N7.jpg" alt=""></li>
		  <li><img src="{{STATIC_URL}}images/N6.jpg" alt=""></li>
          		 
	    </ul>
	    <!-- Slideshow 3 Pager -->
	    <ul id="slider3-pager">
	      <li><a href="#"><img src="{{STATIC_URL}}images/N11.jpg" alt=""></a></li>
		  <li><a href="#"><img src="{{STATIC_URL}}images/N22.jpg" alt=""></a></li>
		  <li><a href="#"><img src="{{STATIC_URL}}images/N33.jpg" alt=""></a></li>
		  <li><a href="#"><img src="{{STATIC_URL}}images/N44.jpg" alt=""></a></li>
	      <li><a href="#"><img src="{{STATIC_URL}}images/N55.jpg" alt=""></a></li>
          <li><a href="#"><img src="{{STATIC_URL}}images/N77.jpg" alt=""></a></li>
	      <li><a href="#"><img src="{{STATIC_URL}}images/N66.jpg" alt=""></a></li>
          		
	    </ul>
    </div> 
	<h4>DESCRPCIÓN</h4>
     <p>Hotel RCA ofrece a sus clientes habitaciones matrimoniales dobles, triples. Que cuentan con agua calienta, tv por cable, aire acondicionado, internet, garaje y seguridad un personal amable y eficaz.</p>
     <h4>VISION</h4>
	 <p>RCA Hotel tiene la visión de lograr un liderazgo dentro del grupo de hoteles del mismo nivel. Tenemos la visión de ser el mejor hotel en nuestro medio, y como tal ubicarnos como el preferido de nuestros turistas. La calidad de servicio esta basada en los años de experiencia adquiridos por los propietarios, socios y trabajadores.</p>
     <h4>MISION</h4>
	 <p>Una principal: Que el cliente se sienta cómodo, tranquilo y engreído: La Mision del RCA Hotel es lograr convertirse en el refugio del viajero que viene a cumplir su sueño de conocer la Capital Bananera del Mundo "Machala", o del viajero que quiere descansar después de haber concluido sus actividades y negocios.</p>
	 <div class="sponcers">
		<div class="sponcers-head">
		<h5>Patrocinadores Destacados</h5>
		</div>
	 </div>
	 <ul id="flexiselDemo1">
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s11.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s22.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s33.png" alt="">
			</div>
		</li>
        <li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s4.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s22.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s11.png" alt="">
			</div>
		</li>
		<li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s33.png" alt="">
			</div>
		</li>
        <li>
			<div class="biseller-column">
			<img src="{{STATIC_URL}}images/s4.png" alt="">
			</div>
		</li>
	</ul>
	<script type="text/javascript">
	 $(window).load(function() {
		$("#flexiselDemo1").flexisel({
			visibleItems: 3,
			animationSpeed: 1000,
			autoPlay: true,
			autoPlaySpeed: 3000,    		
			pauseOnHover: true,
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: { 
				portrait: { 
					changePoint:480,
					visibleItems: 1
				}, 
				landscape: { 
					changePoint:640,
					visibleItems: 2
				},
				tablet: { 
					changePoint:768,
					visibleItems: 3
				}
			}
		});
		
	});
   </script>
   <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexisel.js"></script>		
	 </div>
 </div>
 
 </div>
 <!---->
<div class="fotter">
	 <div class="container">
		 <h3>Mejor Confort, Mejor Hospitalidad</h3>
		 <h4>"Hospitalidad, Calidad & Buena Localizacion. Nuestro Hotel Calidad a su Dispocicion" - RCA HOTEL</h4>
		 <i class="man"></i>
	 </div>
</div>
<!---->
<div class="fotter-info">
	  <div class="container">
	      <div class="col-md-5 details">
			 <div class="hotel-info">
				 <h4>ACERCA DEL HOTEL</h4>
				 <p>EL RCA Hotel es ideal para las personas que buscan hospedarse en un lugar elegante, bien ubicado y seguro, a tan solo 50 minutos del aeropuerto, exclusivo y familiar a la vez, donde puedan resolver todos sus negocios o hacer su transición de la manera más agradable y eficiente posible.</p>
				 <p>El Hotel está ubicado en un sector comercial a cuatro cuadras del Parque Central "Juan Montalvo". Estamos listos para atenderlos a las 24 horas.</p>
			 </div>
			 <div class="news">
				 <h4>ULTIMAS NOTICIAS </h4>
				 <h5>RCA Hotel APERTURA DE PROMOCION</h5>
				 <a href="#">1 SEPT</a>
				 <h5>FIESTAS DE MACHALA</h5>
				 <a href="#">5 SEPT</a>
				 <h5>REINA MUNDIAL DEL BANANO</h5>
				 <a href="#">10 SEPT</a>
				 <h5>PREGON POR LA CIUDAD</h5>
				 <a href="#">15 SEPT</a>		
			 </div>
				<div class="clearfix"></div>
		 </div>
		 <div class="col-md-7 details">
			 <div class="join">
				 <h4>FERIA DE LA CIUDAD</h4>
				 <p>Machala ya organiza su fiesta por los 191 años de cantonización
Desde ayer se aceleran los trabajos para dejar listos los 30 carros alegóricos con los que la capital orense empezará los festejos para recordar los 191 años de cantonización. Diez artesanos locales desde el mes anterior trabajan en los diseños de estas alegorías. </p>
				 <p>Uno de los carros principales y considerado especial es el que estará destinado para Paulina Vega, la actual Miss Universo, quien presidirá este evento. Los organizadores decidieron colocar varios elementos que identifican a la colombiana.</p>
				 <a href="#">LEA MAS..</a>
			 </div>
			 <div class="member">
		<h4>AREA DE MEMBRESIA</h4>
			 {% if user.is_authenticated %}
                     <font color="white"> Bienvenidooo {{user.username|capfirst}}</font>
                      <a href="/cerrar/"> <font color="silver"> >>Salir<<</font></a>
             {% else %}
             <form method="POST">
             {% csrf_token %}
			 <p>Username</p>
			 <input name="username" type="text" id="inputEmail" placeholder="Usuario">
			 <p>Password</p>
			 <input name="password" type="password" id="inputPassword" placeholder="Contraseña">	
			 <hr>
			 <input type="submit" value="INGRESAR"/>
             <a href="/registrarse/" class="reg"><font color="silver">Registrarse</font></a>
			 </form>
			 {% endif %} 

</div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	  </div>
      <h6>Direccion:Boyaca entre 9 de Mayo Juan Montalvo. 
      <br>
      Telefonos:(07)-292-3494 -- (07)-296-8052
      <br> 
      Localidad:Machala - El Oro - Ecuador
      <br>
	 Copyright &copy; 2015 <a href="/">Hotel RCA</a>. Todos Los Derechos Reservados</h6>	  
</div>
<!---->

</body>
</html>